version: '3.8' 

services:
  app:
    build: .
    container_name: youtube_money_exporter
    ports:
      - "3333:3333"
    volumes:
      - .:/app
    working_dir: /app
    environment:
      - PORT=3333
      - DOMADOO_COOKIE=${DOMADOO_COOKIE}
      - GCP_CLIENT_ID=${GCP_CLIENT_ID}
      - GCP_CLIENT_SECRET=${GCP_CLIENT_SECRET}
      - GCP_REFRESH_TOKEN=${GCP_REFRESH_TOKEN}
      - AMAZON_REPORTING_URL=${AMAZON_REPORTING_URL}
      - AMAZON_COOKIE=${AMAZON_COOKIE}
    restart: always
    command: npm run start