version: '3.8' 

services:
  app:
    build: .
    container_name: youtube_money_exporter
    ports:
      - "3333:3333"
    working_dir: /app
    environment:
      - PORT=3333
      - GCP_CLIENT_ID=${GCP_CLIENT_ID}
      - GCP_CLIENT_SECRET=${GCP_CLIENT_SECRET}
      - GCP_REFRESH_TOKEN=${GCP_REFRESH_TOKEN}
      - AMAZON_LOGIN=${AMAZON_LOGIN}
      - AMAZON_PASSWORD=${AMAZON_PASSWORD}
      - DOMADOO_LOGIN=${DOMADOO_LOGIN}
      - DOMADOO_PASSWORD=${DOMADOO_PASSWORD}
    restart: always
    command: npm run start